# Для локального запуска
POSTGRES_PORT=5432
POSTGRES_DB=notification_db
POSTGRES_USER=user
POSTGRES_PASSWORD=password

# DATABASE_URL=postgresql+asyncpg://user:password@localhost:5432/notification_db
# POSTGRES_HOST=localhost


# Для Docker
POSTGRES_HOST=postgres
DATABASE_URL=postgresql+asyncpg://user:password@postgres:5432/notification_db